body {
   background-color: #DEF3FA;
   color: white;
   text-align: center;
}

h1 {
	color: whitesmoke;
	font-family: Times;
	font-weight: 900;
	letter-spacing: 5px;
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
}
img {
   margin: auto; auto;
   border-radius: 50%;
   width : 200px


}

p {
	color: darkslateblue;
	font-size: 20px;
	text-align: center;
}

h2 {
	color: white;
	font-family: times;
	font-size: 28px;
	font-weight: 700px;
	text-align: center;
}

a {
	text-decoration: none;
	color: whitesmoke;
	text-align: center;
}
a:hover {
	color: darkslategrey;
	text-align: center;
}

.card-white {	

    element.style 
    font-weight: 20px;
    padding: 60px; 
    background-color: skyblue;
    margin: 70px;
    box-shadow: 0px 10px 30px rgb(0 0 1);
    border-radius: 9px;
    width: 900px;
    margin: 70px auto

}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
} 

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
} 

/* Importing component files */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");

/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}

.banner {
  /* 1. Set a background image */
  background-image: url(https://thumbs.dreamstime.com/b/banni%C3%A8re-vive-de-site-web-de-ciel-d-arc-en-ciel-93043213.jpg);   
  /* 2. Make the background image cover the banner div */
	background-size: cover;     
  /* 3. Center the image */
	background-position: center;
	font-size: 200px 800px;
	font-weight: 800px 40px;
	margin: auto 200px;

}

.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
}

.btn-blue {
   background-color: steelblue;
   padding: 15px 20px;
   border-radius: 10px;

}
